extends layout

block content
  .container
  
    h1 Dishes

    .container
    
      #dishes.container
        .panel-group#accordion(role="tablist", aria-multiselectable="true")
        
          each dish, i in dishes
              
              .panel.panel-default
                .panel-heading(role="tab", id="heading#{i}")
                  h4.panel-title
                    a(role="button", data-toggle="collapse", 
                    data-parent="#accordion", href="#collapse#{i}", aria-expanded="false",
                    aria-controls="collapse#{i}") #{dish.name}
            
                .panel-collapse.collapse(id="collapse#{i}", role="tabpanel", aria-labelledby="heading#{i}")
                  .list-group
                    | Ingredients: #{dish.ingredients}
                  .list-group
                    | Person in charge: #{dish.person}
                  .list-group
                    | #{dish.link}
                  .list-group
                    | Done? #{dish.done}
                
    #add-dish.container 
      a.btn.btn-default(role="button" href="/dish") Add Dish
